{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'assets/tup-logo.png'%}" rel="icon">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/custom_style.css'%}">
  <title>Print Options</title>
</head>
<body>
    <!-- <div class="p-5">
        <div class="navbar">
            {% load tz %}
            <h3>{% now "l, F j, Y" %}</h3>
            <div class="d-flex">
                <h3>
                  
                    <span id="LiveTime" class=""></span>
                    
                </h3>
            </div>
        </div>
    </div> -->
    <!-- <embed src= {{fle}} width="500px" height="375px" 
 type="application/pdf"> -->
 {% if color_mode == "grayscale" %}
 <style>
   iframe {
     filter: grayscale(100%);
           
   }
 </style>
 {% endif %}
 <div class="text-center">
    <iframe src="{% static 'pdf_file/to_be_print.pdf' %}#toolbar=0" style="height: 700px; width: 100%;" class="justify-content-center"></iframe>

  </div> 




  <footer>
    <div class="p-5">
      <div class="footer-bottom">
          <div class="row">

            <div class="col d-flex justify-content-start">
            <button type="button" class="btn btn-danger">Back</button>
            </div>
            <div class="col d-flex justify-content-end">
              <button type="button" class="btn btn-primary">Proceed to Payment</button>
            </div>
          </div>
          
      </div>
  </div>
  </footer>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/functions.js'%}"></script>
</body>
</html>
